:root {
  --font-header: "Alata", sans-serif;
  --font-body: "Alata", sans-serif;
  --font-fractions: "Fira Mono", "Alata", sans-serif;
  --color-primary: rgba(219, 218, 210);
  --color-accent: rgba(183, 29, 96, 0.85);
  --color-dark: rgba(43, 39, 40);
  --color-light: grey;
  --font-size-controls: 1.5rem;
  --transition-duration: 100ms;
}

* {
  box-sizing: border-box;
}

/* ====== Typography ====== */

body {
  background: var(--color-primary);
  font-family: var(--font-body);
}

h1 {
  font-family: var(--font-header);
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 auto;
}
@media (max-width: 350px) {
  h1 {
    font-size: 2rem;
  }
}

a {
  color: inherit;
  transition: color;
}
a:hover,
a:focus {
  color: var(--color-dark);
}

.user-input-display {
  font-family: var(--font-fractions);
  font-weight: 500;
  font-size: var(--font-size-controls);
  border-bottom: 2px solid var(--color-accent);
  transition: border var(--transition-duration);
}

.user-input-form {
  font-family: var(--font-fractions);
  /* font-weight: 500; */
}

.btn {
  font-size: var(--font-size-controls);
  font-family: inherit;
  font-weight: inherit;
  padding: inherit;
  text-align: inherit;
  background: none;
  border-radius: 100px;
  border: 2px solid var(--color-accent);
  color: var(--color-primary);
  background: var(--color-accent);
  transition: border var(--transition-duration),
    color var(--transition-duration),
    background-color var(--transition-duration);
}

.btn:focus,
.btn:hover {
  cursor: pointer;
  background: var(--color-primaryt);
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.btn-round {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 0;
}

.grams-output {
  text-align: left;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.grams-output td {
  border-bottom: 1px dashed var(--color-dark);
}

.td-ingredient,
.td-unit {
  font-weight: 300;
  font-family: var(--font-header);
}

.td-gram-value {
  font-family: var(--font-body);
  font-weight: 400;
}

.visually-hidden {
  opacity: 0;
}

.footer {
  color: var(--color-primary);
  background: var(--color-accent);
}

/* ====== Layout ====== */

body {
  display: flex;
  flex-direction: column;
  /* Vertical direction needs specified height of container
  to allow children to expand via flex-grow. Used here for
  sticky footer */
  min-height: 100vh;
  margin: 0 auto;
  min-width: 275px;
}

.container {
  flex-grow: 1; /* Expand to push footer to bottom */
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
}

.user-input-display {
  display: inline-block;
  width: 3em;
  margin: 0 auto 0.75em;
}

.user-input-form {
  max-width: 310px;
  margin: 0 auto;
}

.user-input-form-row {
  display: flex;
  margin: 0.1em 0;
  justify-content: space-between;
}

.user-input-form-row > .btn {
  flex: 1 0;
}

.btn {
  margin: 0 0.1em;
}

.grams-output {
  margin: 0 auto;
}

.td-ingredient,
.td-gram-value {
  padding: 0.75em;
}

.td-unit {
  padding: 0.75em 0;
}

.footer {
  text-align: center;
  padding: 2em;
  margin-top: 1em;
}
