:root {
  --font-header: "Alata", sans-serif;
  --font-body: "Alata", sans-serif;
  --font-monospace: "Alata", sans-serif;
  --color-primary: rgba(219, 218, 210);
  --color-accent: rgba(183, 29, 96, 0.85);
  --color-dark: rgba(43, 39, 40);
  --color-light: grey;
  --font-size-controls: 1.5rem;
  --transition-duration: 200ms;
}

* {
  box-sizing: border-box;
}

/* ====== Typography ====== */

body {
  background: var(--color-primary);
  font-family: var(--font-body);
}

h1 {
  font-family: var(--font-header);
  font-size: 2.5rem;
  font-weight: 400;
}
@media (max-width: 350px) {
  h1 {
    font-size: 2rem;
  }
}

/* Reset input styles */
input {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  border-radius: 0;
  padding: 0.25em;
  background: none;
  --input-border-size-style: 2px solid;
}

.input-custom {
  font-size: var(--font-size-controls);
  width: 4em;
  margin: 1em;
  text-align: center;
  border-bottom: 1px solid var(--color-light);
  transition: border var(--transition-duration);
}

.input-custom:hover {
  border-bottom: var(--input-border-size-style) var(--color-accent);
}

.input-custom:focus {
  outline: 0;
  border-bottom: var(--input-border-size-style) var(--color-accent);
}

.btn {
  font-size: var(--font-size-controls);
  background: none;
  border-radius: 100px;
  border: 0;
  color: var(--color-primary);
  background: var(--color-accent);
  transition: border var(--transition-duration),
    color var(--transition-duration),
    background-color var(--transition-duration);
}

.btn:focus,
.btn:hover {
  cursor: pointer;
  background: var(--color-primaryt);
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.btn-round {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 0;
}

.grams-output {
  text-align: left;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.grams-output td {
  padding: 0.75em;
  border-bottom: 1px dashed var(--color-dark);
}

.td-ingredient,
.td-unit {
  font-weight: 300;
  font-family: var(--font-header);
}

.td-gram-value {
  font-family: var(--font-monospace);
  font-weight: 400;
}

.visually-hidden {
  opacity: 0;
}

/* ====== Layout ====== */

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
}

body {
  margin: 0 auto;
  min-width: 275px;
}

.grams-output {
  margin: 0 auto;
}
